/** @format */

body {
  background: #0e1538;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerContainer {
  margin-top: 100px;
  height: 300px;
  width: 550px;
  background: white;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#headerContainer::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 350%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}

#headerContainer::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #0e1538;
  border-radius: 16px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  margin-top: 10px;
  position: relative;
  z-index: 10;
  color: white;
  font-weight: bold;
}
img {
  position: relative;
  margin-top: 20px;
  z-index: 10;
}

#animation1 {
  width: 300px;
  height: 100px;
  background: black;
  margin: 50px;
  border-radius: 50%;
  border-left: 10px solid rgb(196, 41, 41);
  animation: turn 2s linear infinite;
  -webkit-animation: turn 2s linear infinite;
  -moz-animation: turn 4s linear infinite;
}
@-webkit-keyframes turn {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turn {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}

#animation2 {
  width: 100px;
  height: 100px;
  background: black;
  margin: 50px;
  border-radius: 50%;
  border-left: 10px solid orange;
  animation: turn 2s linear infinite;
  -webkit-animation: turn 2s linear infinite;
  -moz-animation: turn 4s linear infinite;
}

@-webkit-keyframes turn {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turn {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}

#section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

#container1 {
  height: 200px;
  margin-top: 50px;
  margin-right: 15%;
  margin-left: 15%;
  background: lightgray;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container1::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1000%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}

#Container1::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #0e1538;
  border-radius: 16px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#containerInfo1 {
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 10;
  color: black;
}

#container2 {
  height: 200px;
  margin-top: 50px;
  margin-right: 15%;
  margin-left: 15%;
  background: lightgray;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container2::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1000%;
  background: linear-gradient(#fff685, #ff1d58);
  animation: animate 5s linear infinite;
}

#Container2::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #0e1538;
  border-radius: 16px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#containerInfo2 {
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 10;
  color: black;
}

#container3 {
  height: 200px;
  margin-top: 50px;
  margin-right: 15%;
  margin-left: 15%;
  background: lightgray;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container3::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1000%;
  background: linear-gradient(#e65758, #771d32);
  animation: animate 3s linear infinite;
}

#Container3::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #0e1538;
  border-radius: 16px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#containerInfo3 {
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 10;
  color: black;
}

.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color: #0066ff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buffer {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.85;
}

h2 {
  font-weight: bold;
  font-size: xx-large;
}

.location {
  font-size: x-large;
}

h3 {
  font-size: large;
}

.ticket-link {
  font-weight: bold;
}

.popup {
  width: 800px;
  height: auto;
  background-attachment: #0066ff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: black;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 10;
  background: white;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}
.open-popup {
  visibility: visible;

  transform: translate(-50%, -45%) scale(0.9);
  top: 50%;
}

button {
  margin: 10px;
}
